.containerlanding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding-top: 12%;
}
.btn-container {
    display: flex;
    gap: 10px;
}