<%- include('partials/header') -%>
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Landing Page</title>
<link rel="stylesheet" href="/css/landingPage.css">
</head>
<body>
<div class="containerlanding">
    <img src="/images/draw.gif" alt="Drawing Animation" style="width: 100px; height: 100px;">
    <h1>Welcome to Doodles All The Way Down</h1>
    <!-- Add the image tag below for the GIF -->
    <div class="btn-container">
        <button onclick="location.href='/create'" class="btn btn-primary">Create</button>
        <button onclick="location.href='/join'" class="btn btn-primary">Join</button>
        <button id='log-button' class="btn btn-primary">View Logs</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
<script src="/scripts/landingPage.js"></script>
</body>
</html>
<%- include('partials/footer') -%>
