<%- include('partials/header') -%>

<main style="max-width: 960px; margin: 20px auto; padding: 20px; background: #ffffff; box-shadow: 0 0 10px rgba(0,0,0,0.1);">
  <h1 class="text-4xl mb-4" style="text-align: center;">User Name: <%= user.nickname %></h1>
  <h1 class="text-4xl mb-4" style="text-align: center;">Email: <%= user.email %></h1>
</main>


<%- include('partials/footer') -%>
